<h1 class="page-header">Dashboard</h1>

<h4>Appointments Next 7 Days</h4>
	<%= render "appointments/table" %>
<h4>New Claimants</h4>
	<%= render "claimants/table" %>
<h4>Past Due Invoices</h4>
  <h5>Total: <%= number_to_currency(@invoices.sum(:total)) %></h5>
	<table id="past-due-invoices" class="table">
	  <thead>
	    <tr>
	      <th>Invoice #</th>
	      <th>PDF</th>
	      <th>Invoice Date</th>
	      <th>Claim #</th>
	      <th>Adjuster</th>
	      <th>Claimant</th>
	      <th>Total</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @invoices.each do |invoice| %>
	    <tr id="dashboard_invoice_<%=invoice.id%>">
	      <td><%= link_to_if !invoice.claim.nil?, invoice.invoice_nbr, claim_billing_path(invoice.claim, invoice) %></td>
	      <td><%= link_to "PDF", claim_billing_path(invoice.claim, invoice, format: :pdf) %></td>
	      <td><%= invoice.invoice_date.strftime("%m/%d/%y") %>
	      <td><%= invoice.claim.number %></td>
	      <td><%= invoice.claim.try(:adjustor).try(:full_name) %></td>
	      <td><%= invoice.claim.try(:claimant).try(:full_name) %></td>
	      <td><%= number_to_currency(invoice.total) %></td>
	      <td>
        	<%= link_to 'Edit', edit_claim_billing_path(invoice.claim, invoice) %> |
        	<%= link_to 'Delete', claim_billing_path(invoice.claim, invoice), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      	</td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
