<%= bootstrap_form_for(@claim) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Claim # -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>General</div>
    <div class='panel-body'>  
      <div class="field">
        <%= f.text_field :number, label: "Claim #" %>
      </div>
    </div>
  <% end %>
  <!-- Claimant -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Claimant</div>
    <div class='panel-body'>
      <div class="field">
        <%= check_box_tag 'accept' %>
      </div>
      <div class="existing-claimant-form">
        <div class="field">
          <%= f.collection_select(:claimant_id, Claimant.all, :id, :full_name, {prompt: 'Select Claimant'}) %>
        </div>
      </div>
      <div class="new-claimant-form">
        <%= f.fields_for :claimant do |claimant_form| %>
          <div class="field">
            <%= claimant_form.text_field :first_name %>
          </div>
          <div class="field">
            <%= claimant_form.text_field :last_name %>
          </div>
          <div class="field">
            <%= claimant_form.text_field :address %>
          </div>
          <div class="field">
            <%= claimant_form.text_field :city %>
          </div>
          <div class="field">
            <%= claimant_form.collection_select(:state_id, State.all, :id, :name, {prompt: 'Select State'}) %>
          </div>
          <div class="field">
            <%= claimant_form.text_field :zip %>
          </div>
          <div class="field">
            <%= claimant_form.phone_field :phone, class: "phone-input" %>
          </div>
          <div class="field">
            <%= claimant_form.phone_field :mobile, class: "phone-input" %>
          </div>
          <div class="field">
            <%= claimant_form.text_area :notes, rows: 8 %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Insurance Company</div>
    <div class='panel-body'>
      <div class="field">
        <%= f.collection_select(:insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: 'Select Insurance Company'}) %>
      </div>
      <div class="field">
        <%= f.collection_select(:adjustor_id, Adjustor.all, :id, :full_name, {prompt: 'Select Adjustor'}) %>
      </div>
    </div>
  <% end %>
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Appointment</div>
    <div class='panel-body'>
      <%= f.fields_for :appointments do |appointments_form| %>
        <div class="field">
          <%= appointments_form.date_field :date %> 
        </div>
        <div class="field">
          <%= appointments_form.time_field :time %> 
        </div>
        <div class="field">
          <%= appointments_form.collection_select(:doctor_id, Doctor.all, :id, :full_name, {prompt: 'Select Doctor'}) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save", { class: "btn btn-block btn-primary pull-right" }%>
  </div>
<% end %>
