<%= bootstrap_form_for(@claim) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.collection_select(:claimant_id, Claimant.all, :id, :full_name, {prompt: 'Select Claimant'}) %>
  </div>
  <div class="field">
    <%= f.collection_select(:insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: 'Select Insurance Company'}) %>
  </div>
  <div class="field">
    <%= f.collection_select(:adjustor_id, Adjustor.all, :id, :full_name, {prompt: 'Select Adjustor'}) %>
  </div>
  <div class="field">
    <%= f.collection_select(:appointment_id, Appointment.all, :id, :date, {prompt: 'Select Appointment'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
