<%= bootstrap_form_for(@claim) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Claim # -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>General</div>
    <div class='panel-body'>  
      <%= f.text_field :number, label: "Claim #" %>
      <%= f.text_field :service %>
      <%= f.text_field :case %>
      <%= f.date_field :date_of_injury %>
    </div>
  <% end %>
  <!-- Claimant -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Claimant</div>
    <div class='panel-body'>
      <%= check_box_tag 'accept' %>
      <div class="existing-claimant-form">
        <%= f.collection_select(:claimant_id, Claimant.all, :id, :full_name, {prompt: 'Select Claimant'}) %>
      </div>
      <div class="new-claimant-form">
        <%= f.fields_for :claimant do |claimant_form| %>
          <%= claimant_form.text_field :first_name %>
          <%= claimant_form.text_field :last_name %>
          <%= claimant_form.text_field :address %>
          <%= claimant_form.text_field :city %>
          <%= claimant_form.collection_select(:state_id, State.all, :id, :name, {prompt: 'Select State'}) %>
          <%= claimant_form.text_field :zip %>
          <%= claimant_form.phone_field :phone, class: "phone-input" %>
          <%= claimant_form.phone_field :mobile, class: "phone-input" %>
          <%= claimant_form.email_field :email %>
          <%= claimant_form.text_field :ssn, label: "SSN", class: "ssn-input" %>
          <%= claimant_form.date_field :dob, label: "DOB" %>
          <%= claimant_form.collection_select :gender, ["Male", "Female"], :to_s, :to_s, include_blank: false %>
          <%= claimant_form.text_area :notes, rows: 8 %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- Insurance Company -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Insurance Company</div>
    <div class='panel-body'>
      <%= f.collection_select(:insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: 'Select Insurance Company'}) %>
      <%= f.collection_select(:adjustor_id, Adjustor.all, :id, :full_name, {prompt: 'Select Adjustor'}) %>
    </div>
  <% end %>
  <!-- Legal -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Legal</div>
    <div class='panel-body'>
      <%= f.check_box :litigated %>
      <div id="legal-fields">
        <%= f.collection_select(:attorney_id, Attorney.all, :id, :full_name, {prompt: 'Select Attorney'}) %>
        <%= f.text_area :legal_notes, rows: 8 %>
      </div>
    </div>
  <% end %>
  <!-- Appointment Info -->
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Appointment</div>
    <div class='panel-body'>
      <%= f.fields_for :appointment do |appointment_form| %>
        <%= appointment_form.date_field :date %>
        <%= appointment_form.time_field :time %>
        <%= appointment_form.collection_select(:doctor_id, Doctor.all, :id, :full_name, {prompt: 'Select Doctor'}) %>
      <% end %>
    </div>
  <% end %>
  <%= panel tag: :aside, context: :primary do %>
    <div class='panel-heading'>Notes</div>
    <div class='panel-body'>
      <%= f.text_area :notes, rows: 8 %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save", { class: "btn btn-block btn-primary pull-right" }%>
  </div>
<% end %>
