<div class="row">
  <div class="col-md-6">
  <%= panel tag: :aside, context: :primary do %>
   <div class='panel-heading'><h4 class="panel-title">Patient Information</h4></div>
    <div class='panel-body'>
      <div class="row">
        <%= referral_label(["Patient:"]) %>
        <%= referral_value([@claimant.full_name, @claimant.address, "#{@claimant.try(:city)}, #{@claimant.try(:state).abbr}, #{@claimant.zip}"], "9") %>
      </div>
      <div class="row">
        <%= referral_label(["Phone:", "SSN:"]) %>
        <%= referral_value([@claimant.try(:phone), @claimant.try(:ssn)], "4") %>
        <%= referral_label(["DOB:", "Gender:"]) %>
        <%= referral_value([@claimant.try(:dob), @claimant.try(:gender)], "4") %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-md-6">
  <%= panel tag: :aside, context: :primary do %>
   <div class='panel-heading'><h4 class="panel-title">Adjustor/Company Information</h4></div>
    <div class='panel-body'>
      <div class="row">
        <%= referral_label(["Adjuster:", "Company:"]) %>
        <%= referral_value(["#{@adjustor.full_name} (#{@insurance_company.name})", @insurance_company.try(:address), "#{@insurance_company.try(:city)}, #{@insurance_company.state.try(:abbr)}, #{@insurance_company.try(:zip)}"], "9") %>
      </div>
      <div class="row">
        <%= referral_label(["Phone:", "Email:"]) %>
        <%= referral_value([@adjustor.try(:phone), @adjustor.try(:email)], "4") %>
        <%= referral_label(["Fax:"]) %>
        <%= referral_value([@adjustor.try(:fax)], "4") %>
      </div>
    </div>
  <% end %>
  </div>
</div>