<div class="row">
  <div class="col-md-6">
  <%= panel tag: :aside do %>
   <div class='panel-heading'><h4>Patient Information</h4></div>
    <div class='panel-body'>
      <div class="row">
        <%= referral_label(["Patient:"]) %>
        <%= referral_value([@claimant.full_name, @claimant.address, "#{@claimant.city}, #{@claimant.state.abbr}, #{@claimant.zip}"], "9") %>
      </div>
      <div class="row">
        <%= referral_label(["Phone:", "SSN:"]) %>
        <%= referral_value([@claimant.phone, @claimant.ssn], "4") %>
        <%= referral_label(["DOB:", "Gender:"]) %>
        <%= referral_value([@claimant.dob, @claimant.gender], "4") %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-md-6">
  <%= panel tag: :aside do %>
   <div class='panel-heading'><h4>Adjustor/Company Information</h4></div>
    <div class='panel-body'>
      <div class="row">
        <%= referral_label(["Adjuster:", "Company:"]) %>
        <%= referral_value(["#{@adjustor.full_name} (#{@insurance_company.name})", @insurance_company.address, "#{@insurance_company.city}, #{@insurance_company.state.try(:abbr)}, #{@insurance_company.zip}"], "9") %>
      </div>
      <div class="row">
        <%= referral_label(["Phone:", "Email:"]) %>
        <%= referral_value([@adjustor.phone, @adjustor.email], "4") %>
        <%= referral_label(["Fax:"]) %>
        <%= referral_value([@adjustor.fax], "4") %>
      </div>
    </div>
  <% end %>
  </div>
</div>