<h1 class="page-header">Claims</h1>
<table id="claims-index" class="table">
  <thead>
    <tr>
      <th>Claim #</th>
      <th>Claimant</th>
      <th>Physician</th>
      <th>Insurance Company</th>
      <th>Adjustor</th>
      <th>Appointment</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @claims.each do |claim| %>
    <tr>
      <td><%= link_to claim.number, claim %></td>
      <td><%= claim.claimant.try(:full_name) unless claim.claimant == nil %></td>
      <td><%= link_to claim.appointment.try(:doctor).try(:full_name), doctor_path(claim.appointment.try(:doctor)) %></td>
      <td><%= claim.try(:insurance_company).try(:name) %></td>
      <td><%= claim.try(:adjustor).try(:full_name) %></td>
      <td><%= claim.try(:appointment).try(:date).strftime("%D") %> @ <%= claim.appointment.time.strftime("%r") %></td>
      <td>
        <%= link_to 'Edit', edit_claim_path(claim) %> |
        <%= link_to 'Delete', claim, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add a Claim", new_claim_path, class: "btn btn-primary" %>

