<h1 class="page-header">Claims</h1>

<% @claims.each do |claim| %>
  <p><strong>Claim #</strong><%= claim.number %></p>
  <%= link_to 'Show', claim %>
  <%= link_to 'Edit', edit_claim_path(claim) %>
  <%= link_to 'Destroy', claim, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Claim', new_claim_path %>
