<h1 class="page-header">Referral Report</h1>

<%= render "appointment" %>

<%= render "patient" %>

<%= render "claim" %>

<%= render "notes" %>

<%= link_to "Preview Site Letter", claim_path(@claim, format: "pdf"), method: "get", class: "btn btn-default" %>

<%= modal title: 'Send Cite Letter', button: {size: :medium, context: :danger} do %>
  <div class="modal-body">
  	<p class="lead">Do you want to include a custom message in the cite letter email?</p>
  	<%= form_tag(deliver_claim_path(@claim), method: :post)%>
  	<%= text_area_tag :message, @claim.cite_letter_message, rows: 8, class: "form-control", placeholder: "Type your custom message here" %>
  	<%= submit_tag "Send Cite Letter", class: "btn btn-primary", data: { confirm: "This email will be sent to #{ @claim.adjustor.full_name } at #{ @claim.adjustor.email }. Are you sure you want to send the email? Make sure you click 'Preview site letter' first!" }  %>
  </div>
<% end %>

<h3 class="page-header">Invoices</h3>
<table class="table">
	<thead>
		<tr>
			<th>Invoice #</th>
			<th>Invoice Date</th>
			<th>Claim #</th>
			<th>Total</th>
			<th>Paid</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @claim.billings.each do |billing| %>
			<tr>
				<td><%= link_to billing.invoice_nbr, [@claim, billing] %></td>
				<td><%= billing.invoice_date %></td>
				<td><%= billing.claim.number %></td>
				<td><%= billing.total %></td>
				<td><%= billing.paid %></td>
				<td><%= link_to "Delete", claim_billing_path(@claim, billing), method: :delete, :class => 'btn btn-mini btn-danger', remote: true, confirm: "Are you sure you want to delete this invoice?"  %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Create Invoice", new_claim_billing_path(@claim), class: "btn btn-success" %>

