<h1 class="page-header">Referral Report</h1>

<%= render "appointment" %>

<%= render "patient" %>

<%= render "claim" %>

<%= render "notes" %>

<%= button_to "Send Cite Letter", deliver_claim_path(@claim) %>

