<h1 class="page-header">Referral Report</h1>

<%= render "appointment" %>

<%= render "patient" %>

<%= render "claim" %>

<%= render "notes" %>

<%= button_to "Send Cite Letter", deliver_claim_path(@claim), class: "btn btn-primary pull-right" %>

<%#= link_to "Preview Cite Letter", claim_path(@claim, format: "pdf"), class: "btn btn-success" %>

<%= modal title: 'Preview Site Letter', button: {size: :medium, context: :info} do %>
  <div class="modal-body">
  	<p class="lead">Do you want to include a custom message in the cite letter?</p>
  	<%= form_tag(claim_path(@claim, format: "pdf"), method: "get")%>
  	<%= text_area_tag :message, @claim.cite_letter_message, rows: 8, class: "form-control", placeholder: "Type your custom message here" %>
  	<%= submit_tag "Show PDF", class: "btn btn-primary"  %>
  </div>
<% end %>

