<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @claim.number %>
</p>

<p>
  <strong>Claimant:</strong>
  <%= @claim.claimant.full_name %>
</p>

<p>
  <strong>Insurance company:</strong>
  <%= @claim.insurance_company.name %>
</p>

<p>
  <strong>Adjustor:</strong>
  <%= @claim.adjustor.full_name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @claim.appointment.doctor.full_name %>
</p>

<p>
  <strong>Attorney:</strong>
  <%= @claim.attorney %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @claim.appointment.date %><br>
  <%= @claim.appointment.time %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
