<%= bootstrap_form_for(@claimant) do |f| %>
  <% if @claimant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claimant.errors.count, "error") %> prohibited this claimant from being saved:</h2>

      <ul>
      <% @claimant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :address %>
  <%= f.text_field :city %>
  <%= f.collection_select(:state_id, State.all, :id, :name, {prompt: 'Select State'}) %>
  <%= f.text_field :zip %>
  <%= f.phone_field :phone, class: "phone-input" %>
  <%= f.phone_field :mobile, class: "phone-input" %>
  <%= f.email_field :email %>
  <%= f.text_field :ssn, label: "SSN", class: "ssn-input" %>
  <%= f.date_field :dob, label: "DOB" %>
  <%= f.date_field :gender%>
  <%= f.text_area :notes %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
