<h1>Listing claimants</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @claimants.each do |claimant| %>
      <tr>
        <td><%= claimant.first_name %></td>
        <td><%= claimant.last_name %></td>
        <td><%= claimant.address %></td>
        <td><%= claimant.city %></td>
        <td><%= claimant.state %></td>
        <td><%= claimant.zip %></td>
        <td><%= claimant.phone %></td>
        <td><%= claimant.mobile %></td>
        <td><%= claimant.notes %></td>
        <td><%= link_to 'Show', claimant %></td>
        <td><%= link_to 'Edit', edit_claimant_path(claimant) %></td>
        <td><%= link_to 'Destroy', claimant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claimant', new_claimant_path %>
