<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#general" role="tab" data-toggle="tab">General</a></li>
  <li><a href="#appointments" role="tab" data-toggle="tab">Appointments</a></li>
</ul>

<!-- Tab panes -->
<div class="well">
  <div class="tab-content">
    <div class="tab-pane active" id="general">
      <%= claimant_row("First Name:", @claimant.first_name) %>
      <%= claimant_row("Last Name:", @claimant.last_name) %>
      <%= claimant_row("Address:", @claimant.address) %>
      <%= claimant_row("City:", @claimant.city) %>
      <%= claimant_row("State:", @claimant.state.abbr) %>
      <%= claimant_row("Zip:", @claimant.zip) %>
      <%= claimant_row("Phone:", @claimant.phone) %>
      <%= claimant_row("Mobile:", @claimant.mobile) %>
      <%= claimant_row("Notes:", @claimant.notes) %>
    </div>
    <div class="tab-pane" id="appointments">
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_claimant_path(@claimant) %> |
<%= link_to 'Back', claimants_path %>


