<%= bootstrap_form_for(@insurance_company) do |f| %>
  <% if @insurance_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurance_company.errors.count, "error") %> prohibited this insurance_company from being saved:</h2>

      <ul>
      <% @insurance_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name %>
  <%= f.phone_field :phone, class: "phone-input" %>
  <%= f.text_field :address %>
  <%= f.text_field :city %>
  <%= f.collection_select(:state_id, State.all, :id, :name, {prompt: 'Select State'}) %>
  <%= f.text_field :zip %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
