<%= bootstrap_form_for [@claim, @billing] do |f| %>
  <% if @billing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billing.errors.count, "error") %> prohibited this billing from being saved:</h2>

      <ul>
      <% @billing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :invoice_nbr, label: "Invoice #" %>
  </div>
  <div class="field">
    <%= f.date_field :invoice_date %>
  </div>
  <div class="field">
    <%= f.collection_select(:insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: 'Select Insurance Company', :selected => @billing.claim.insurance_company.try(:id) }) %>
  </div>
  <div class="field">
        <%= f.collection_select(:attorney_id, Attorney.all, :id, :full_name, {prompt: 'Select Attorney', :selected => @billing.claim.attorney.try(:id)}) %>
  </div>
  <div class="field">
    <%= f.collection_select(:claimant_id, Claimant.all, :id, :full_name, {prompt: 'Select Claimant', :selected => @billing.claim.claimant.try(:id)}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
