<p><%= Date.today.strftime("%B %d, %Y") %><p>

<%= @claim.claimant.full_name %><br>
<%= @claim.claimant.address %><br>
<%= @claim.claimant.city %>, <%= @claim.claimant.state.abbr %> <%= @claim.claimant.zip %><br>
 
<p>Please do not send documents to my personal email address.</p>
 
<p>Attached you will find a copy of the cite letter.
Please advise me of any incorrect information.</p>
 
 
<p>Please send medical records and cover letter to our Southfield address below. Documents can also be emailed to:scheduling@mich-ime.com or faxed to 248-356-2795.  Please do not send documents to my personal email address.</p>
<p>Because we have many physicians with different policies regarding medical records, we ask that you send your medical records to us as soon as possible.  We thank you for your cooperation and understanding.</p>