<%= bootstrap_form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :address %>
  <%= f.text_field :city %>
  <%= f.collection_select(:state_id, State.all, :id, :name, {prompt: 'Select State'}) %>
  <%= f.text_field :zip %>
  <%= f.phone_field :phone, class: "phone-input" %>
  <%= f.phone_field :mobile, class: "phone-input" %>
  <%= f.text_area :notes %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
