<h1 class="page-header">Doctors</h1>

<table id="doctors-index" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= link_to doctor.full_name, doctor %></td>
      <td><%= doctor.address %></td>
      <td><%= doctor.city %></td>
      <td><%= doctor.state.name unless doctor.state == nil  %></td>
      <td><%= doctor.zip %></td>
      <td><%= doctor.phone %></td>
      <td><%= doctor.mobile %></td>
      <td>
        <%= link_to 'Edit', edit_doctor_path(doctor) %> |
        <%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</br>

<%= link_to "Add Doctor", new_doctor_path, class: "btn btn-primary" %>
