<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#general" role="tab" data-toggle="tab">General</a></li>
  <li><a href="#practice" role="tab" data-toggle="tab">Practice</a></li>
  <li><a href="#fees" role="tab" data-toggle="tab">Fees</a></li>
  <li><a href="#poc" role="tab" data-toggle="tab">Point of Contact</a></li>
</ul>

<!-- Tab panes -->
<div class="well">
  <div class="tab-content">
    <div class="tab-pane active" id="general">
      <%= doctor_row("First Name:", @doctor.first_name) %>
      <%= doctor_row("Last Name:", @doctor.last_name) %>
      <%= doctor_row("Address:", @doctor.address) %>
      <%= doctor_row("City:", @doctor.city) %>
      <%= doctor_row("State:", @doctor.state.abbr) %>
      <%= doctor_row("Zip:", @doctor.zip) %>
      <%= doctor_row("Phone:", @doctor.phone) %>
      <%= doctor_row("Mobile:", @doctor.mobile) %>
      <%= doctor_row("Fax:", @doctor.fax) %>
      <%= doctor_row("Email:", @doctor.email) %>
      <%= doctor_row("Notes:", @doctor.notes) %>
    </div>
    <div class="tab-pane" id="practice">
      <%= doctor_row("Credentials:", @doctor.credentials) %>
      <%= doctor_row("Active Practice:", @doctor.active_practice) %>
      <%= doctor_row("Board Certified:", @doctor.board_certified) %>
      <%= doctor_row("Tax Id:", @doctor.tax_id) %>
      <%= doctor_row("License #:", @doctor.license_number) %>
      <%= doctor_row("Approx. Turn Around:", @doctor.approx_turn_around) %>
      <%= doctor_row("Dictation Service Interest:", @doctor.dictation_service_interest) %>
    </div>
    <div class="tab-pane" id="fees">
      <%= doctor_row("IME Fee:", number_to_currency(@doctor.ime_charge)) %>
      <%= doctor_row("No Show Fee:", number_to_currency(@doctor.no_show_fee)) %>
      <%= doctor_row("Deposition Fee:", number_to_currency(@doctor.deposition_fee)) %>
      <%= doctor_row("Deposition Cancellation Fee:", number_to_currency(@doctor.deposition_cancel_fee)) %>
      <%= doctor_row("Record Review Fee:", number_to_currency(@doctor.record_review_fee)) %>
    </div>
    <div class="tab-pane" id="poc">
      <%= doctor_row("First Name", @doctor.poc_first_name) %>
      <%= doctor_row("Last Name", @doctor.poc_last_name) %>
      <%= doctor_row("Phone", @doctor.poc_phone) %>
      <%= doctor_row("Email", @doctor.poc_email) %>
    </div>
  </div>
</div>


<%= render 'appointments/table' %>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>


