<%= bootstrap_form_for(@adjustor) do |f| %>
  <% if @adjustor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adjustor.errors.count, "error") %> prohibited this adjustor from being saved:</h2>

      <ul>
      <% @adjustor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select(:insurance_company_id, InsuranceCompany.all, :id, :name, {prompt: 'Select Insurance Company'}) %>
  <%= f.text_field :first_name%>
  <%= f.text_field :last_name %>
  <%= f.phone_field :phone, class: "phone-input" %>
  <%= f.phone_field :mobile, class: "phone-input" %>
  <%= f.email_field :email %>
  <%= f.text_area :notes %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
