<h1 class="page-header">Adjusters</h1>

<table id="adjustors-index" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Insurance Company</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @adjustors.each do |adjustor| %>
    <tr>
      <td><%= link_to adjustor.full_name, adjustor %></td>
      <td><%= adjustor.try(:insurance_company).try(:name) %></td>
      <td><%= adjustor.phone %></td>
      <td><%= adjustor.mobile %></td>
      <td>
        <%= link_to 'Edit', edit_adjustor_path(adjustor) %> |
        <%= link_to 'Delete', adjustor, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add Adjuster", new_adjustor_path, class: 'btn btn-primary' %>

