<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#general" role="tab" data-toggle="tab">General</a></li>
  <li><a href="#claims" role="tab" data-toggle="tab">Claims</a></li>
</ul>

<!-- Tab panes -->
<div class="well">
  <div class="tab-content">
    <div class="tab-pane active" id="general">
      <%= adjuster_row("First Name:", @adjustor.first_name) %>
      <%= adjuster_row("Last Name:", @adjustor.last_name) %>
      <%= adjuster_row("Phone:", @adjustor.phone) %>
      <%= adjuster_row("Mobile:", @adjustor.mobile) %>
      <%= adjuster_row("Notes:", @adjustor.notes) %>
    </div>
    <div class="tab-pane" id="claims">
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_adjustor_path(@adjustor) %> |
<%= link_to 'Back', adjustors_path %>
