<%= bootstrap_form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :claim_id, value: @claim.id %>
  <%= f.date_field :date %>
  <%= f.time_field :time %>
  <%= f.collection_select(:doctor_id, Doctor.all, :id, :full_name, {prompt: 'Select Doctor'}) %>
  <%= f.collection_select(:claim_id, Claim.all, :id, :number, {prompt: 'Select Claim'}) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
