<table id="appointments-index" class="table">
  <thead>
    <tr>
      <th>Claimant</th>
      <th>Date</th>
      <th>Time</th>
      <th>Doctor</th>
      <th>Claim #</th>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.claim.try(:claimant).try(:full_name) %></td>
        <td><%= appointment.try(:date).strftime("%D") %></td>
        <td><%= appointment.try(:time).strftime("%r") %></td>
        <td><%= appointment.doctor.try(:full_name) %></td>
        <td><%= appointment.claim.try(:number) %></td>
      </tr>
    <% end %>
  </tbody>
</table>