<h1 class="page-header">Appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Doctor</th>
      <th>Claim</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date.strftime("%D") %></td>
        <td><%= appointment.time.strftime("%r") %></td>
        <td><%= appointment.doctor.try(:full_name) %></td>
        <td><%= appointment.claim.claimant.full_name %></td>
        <td><%= appointment.claim.number %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
