$("#line_items_table tr:last").before("<tr id='line_item_<%= @line_item.id %>'><td><%= @line_item.quantity %></td><td><%= @line_item.date %></td><td><%= @line_item.cpt_code %></td><td><%= j simple_format(@line_item.description) %></td><td><%= @line_item.unit_price %></td><td><%= @line_item.total %></td><td><a class='btn btn-mini btn-danger' data-confirm='Are you sure you want to delete this line item?'' data-method='delete' data-remote='true' href='/claims/4/billings/7/line_items/<%=@line_item.id %>' rel='nofollow'>Delete</a></td></tr>");
$("#new_line_item")[0].reset();
$(".modal").modal("toggle");
$("#line_items_table").children("tfoot").show()
