<!DOCTYPE html>
<html>
<head>
  <title>Gcs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= nav do %>
  		<%= link_to 'Home', root_path %>
  		<%= link_to 'Claims', claims_path %>
  		<%= link_to 'Doctors', doctors_path %>
  		<%= link_to 'Claimants', claimants_path %>
  		<%= link_to 'Insurance Companies', insurance_companies_path %>
  		<%= link_to 'Adjustors', adjustors_path %>
  		<%= link_to 'Appointments', appointments_path %>
		<% end %>

		<%= yield %>
	
	</div>

</body>
</html>
