<!DOCTYPE html>
<html>
<head>
  <title>Gcs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<div class="container">
		<%= nav do %>
  		<%= link_to 'Home', root_path %>
  		<%= link_to 'Claims', claims_path %>
  		<%= link_to 'Doctors', doctors_path %>
  		<%= link_to 'Claimants', claimants_path %>
  		<%= link_to 'Insurance Companies', insurance_companies_path %>
      <%= link_to 'Adjusters', adjustors_path %>
      <%= link_to 'Appointments', appointments_path %>
  		<%= link_to 'Attorneys', attorneys_path %>
      <%= link_to "Documents", documents_path %>
		<% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

		<%= yield %>
	
	</div>

</body>
</html>
